/logs
/target
target/*
target/**
target\**
/tmp
.recommenders
.project
*.classpath
.settings
.metadata
/target/*
/target/**
/target/
/bin/
*/target/

.idea
.idea/
/.idea/

*/logs/
*/target/
*.class
*.iml
*/*.class
/tmp/
/*rebel.xml
*/target/*
