/logs
/target
target/*
target/**
target\**
/tmp
.recommenders
.project
*.classpath
.settings
.metadata
/target/*
/target/**
/target/
/bin/
*/target/

.idea
.idea/
/.idea/

*/logs/
*/target/
*.class
*.iml
*/*.class
/tmp/
/*rebel.xml
*/target/*
/cloud-modules/cloud-order/cloud-order-server/target/classes/
/cloud-modules/cloud-system/cloud-system-common/target/classes/META-INF/
/cloud-modules/cloud-system/cloud-system-remote/target/classes/META-INF/
/cloud-modules/cloud-system/cloud-system-server/target/classes/
/cloud-modules/cloud-system/cloud-system-remote/target/test-classes/META-INF/
